<template lang="pug">
  div
    Header
    About
    AboutFeature
    Team
    Counter
    Footer
</template>

<script>
import Header from './global/Header'
import About from './global/About'
import AboutFeature from './global/AboutFeature'
import Team from './global/Team'
import Counter from './global/Counter'
import Footer from './global/Footer'
export default {
  components:{Header,About,AboutFeature,Team,Counter,Footer}
}
</script>

