<template lang="pug">
  div
    Header
    ContactContainer
    Footer
</template>

<script>
import Header from './global/Header'
import ContactContainer from './global/ContactContainer'
import Footer from './global/Footer'
export default {
  components:{Header,ContactContainer,Footer}
}
</script>

<style>

</style>
