<template lang="pug">
  div
    Header
    CoursesContainer
    Footer
</template>

<script>
import Header from './global/Header'
import CoursesContainer from './global/CoursesContainer'
import Footer from './global/Footer'
export default {
  components:{Header,CoursesContainer,Footer}
}
</script>

<style lang="scss">

</style>
