<template lang="pug">
  div
    Header
    .course
      .container
        .row
          // Course
          .col-lg-8
            .course_container
              .course_title {{currentCurso.titulo}}
              .course_info.d-flex.flex-lg-row.flex-column.align-items-lg-center.align-items-start.justify-content-start
                // Course Info Item
                .course_info_item
                  .course_info_title Profesor:
                  .course_info_text
                    a(href='#') {{currentCurso.docente}}
                // Course Info Item              
                .course_info_item
                  .course_info_title Especialidad:
                  .course_info_text
                    a(href='#') {{currentCurso.especialidad}}
              // Course Image
              .course_image
                img(:src='currentCurso.imagen', alt='')
              // Course Tabs
              .course_tabs_container
                .tabs.d-flex.flex-row.align-items-center.justify-content-start
                  .tab.active Descripción
                .tab_panels
                  // Description
                  .tab_panel.active
                    .tab_panel_title {{currentCurso.titulo}}
                    .tab_panel_content
                      .tab_panel_text
                        p
                          | {{currentCurso.descripcion}}                 
                      .tab_panel_faq
                        .tab_panel_title Clases
                        // Accordions
                        .accordions
                          .elements_accordions
                            .accordion_container(v-for="clase in clases")
                              .accordion.d-flex.align-items-center.justify-content-around
                                div {{clase.nombre}}
                                template(v-if="user")
                                  a(:href="clase.video" target="_blank")
                                    i.fa.fa-play-circle.d-flex.flex-row-reverse.align-items-center(style="font-size:25px")                          
          // Course Sidebar
          .col-lg-4
            .sidebar           
              // Feature
              .sidebar_section
                .sidebar_section_title Profesor
                .sidebar_teacher
                  .teacher_title_container.d-flex.flex-row.align-items-center.justify-content-start
                    .teacher_image
                      img(:src='currentCurso.imagen_docente', alt='')
                    .teacher_title
                      .teacher_name
                        a(href='#') {{currentCurso.docente}}
                      .teacher_position {{currentCurso.especialidad}}                 
              // Latest Course
              .sidebar_section
                .sidebar_section_title Nuevos cursos
                .sidebar_latest              
                  // Latest Course
                  .latest.d-flex.flex-row.align-items-start.justify-content-start(v-for="curso in lastCursos")
                    .latest_image
                      div
                        img(:src='curso.imagen', alt='')
                    .latest_content
                      .latest_title
                        router-link(:to="{path: '/courses/' + curso.id_curso}") {{curso.titulo}}


    Footer
</template>

<script>
import Header from './global/Header'
import Footer from './global/Footer'
export default {
  components:{Header,Footer},
   props: ["id"],
  data() {
    return {
      user:null,
      currentCurso: {},
      cursos: [],
      clases:[],
      lastCursos: []
    };
  },
  watch: {
    id() {
      this.listarCursos();
      this.getClases();
    }
  },
  mounted() {
    this.user = localStorage.getItem('user-starkytech')? JSON.parse(localStorage.getItem('user-starkytech')) : null;
    this.listarCursos();
    this.getClases();
  },
  methods: {
    listarCursos(){
      fetch("http://localhost:3000/api/curso")
      .then(res => res.json())
      .then(res => {
        this.cursos = res.data;
        this.cursos.map(el => {
          el.imagen = `http://localhost:3000/cursos/${el.id_curso}.jpg`;
        });
        if (this.cursos.length < 4) {
          this.lastCursos = this.cursos;
        } else {
          this.lastCursos = this.cursos.slice(
            this.cursos.length - 3,
            this.cursos.length
          );
        }
        this.getCourse();
      });
    },
    getCourse() {
      this.cursos.map(el=>{
        if(el.id_curso==this.id){
          this.currentCurso = el;
          this.currentCurso.imagen_docente = `http://localhost:3000/docentes/${el.id_docente}.jpg`;
        }
      })
    },
    getClases(){
      fetch('http://localhost:3000/api/curso/clases/'+this.id)
      .then(res=>res.json())
      .then(res=>this.clases = res.data)
    },
  }
}
</script>

<style>

</style>
