<template lang="pug">
  .login-page
    .form
      form.register-form(@submit.prevent="Registrar()")
        input(type='text', placeholder='Nombres' v-model="nombres")
        input(type='text', placeholder='Apellidos' v-model="apellidos")
        input(type='tel', placeholder='Telefono' v-model="telefono")
        input(type='email', placeholder='Correo electronico' v-model="email")
        input(type='password', placeholder='Contraseña' v-model="password")
        input(type='password', placeholder='Confirmar contraseña' v-model="cpassword")
        button Crear Cuenta
        p.message
          | ¿Estás registrado? 
          a Ingresar
      form.login-form(@submit.prevent="Logear()")
        input(type='text', placeholder='Correo electronico' v-model="loginEmail")
        input(type='password', placeholder='Contraseña' v-model="loginPassword")
        button INGRESAR
        p.message
          | ¿No estás registrado? 
          a Crear una cuenta
</template>

<script>
export default {
  data() {
    return {
      nombres:'',
      apellidos:'',
      telefono:'',
      email:'',
      password:'',
      cpassword:'',
      loginEmail:'',
      loginPassword:''
    };
  },
  mounted() {
    $(".message a").click(function() {
      $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
  },
  methods: {
    Registrar() {
      console.log("registramos");
      if(this.nombres!='' && this.apellidos!='' && this.telefono!='' && this.email!='' && this.password!='' && this.cpassword!=''){
        if(this.cpassword==this.password){
          let form = new FormData();
          form.append('nombres',this.nombres);
          form.append('apellidos',this.apellidos);
          form.append('email',this.email);
          form.append('telefono',this.telefono);
          form.append('password',this.password);
          fetch('http://localhost:3000/api/alumno',{
            method:'post',
            body: form
          })
          .then(res=>res.json())
          .then(res=>{
            if(res.success){
              this.loginEmail = this.email;
              this.loginPassword = this.password;
              this.Logear();
            }else{
              alertify.error(res.message);
            }
          })
        }else{
          alertify.error('Contraseñas no coinciden')
        }
      }else{
        alertify.error('Los datos deben estar completos');
      }
    },
    Logear() {
      if(this.loginEmail!='' && this.loginPassword!=''){
        let form = new FormData();
        form.append('username',this.loginEmail);
        form.append('password',this.loginPassword);
        fetch('http://localhost:3000/api/auth',{
          method:'post',
          body: form
        })
        .then(res=>res.json())
        .then(res=>{
          if(res.success){
            let customUser = {
              id: res.data.f1,
              nombres: res.data.f2,
              apellidos: res.data.f3,
              email: res.data.f4,
              type: res.data.f5
            }
            localStorage.setItem('user-starkytech',JSON.stringify(customUser));
            this.$router.replace('/');
          }else{
            alertify.error(res.message)
          }
        })
      }else{
        alertify.error('Los datos deben estar completos');
      }
    }
  }
};
</script>

<style scoped>
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 0;
}
.form .message a:hover {
  color: #4caf50;
  background: #fff;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
