<template lang="pug">
  v-flex(xs12)    
    h1.mb-5 Lista de alumnos
    v-data-table.elevation-1(:headers="headers", :items="desserts")
      template(slot="items", slot-scope="props")
        td.text-left {{props.item.alumno}}
        td.text-left {{ props.item.email }}
        td.text-left {{ props.item.telefono }}
        td.text-left {{ props.item.suscripcion }}
</template>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Alumno",
          align: "left",
          sortable: false,
          value: "alumno"
        },
        { text: "Correo", value: "email" },
        { text: "Telefono", value: "telefono" },
        { text: "Suscripcion", value: "suscripcion" }
      ],
      desserts: []
    };
  },
  mounted() {this.listarAlumnos()},
  methods: {
    listarAlumnos() {
      fetch("http://localhost:3000/api/alumno")
        .then(res => res.json())
        .then(res => {
          if (res.success) {
            res.data.map(el=>{
              let suscripcion = '';
              if(el.inicio==null && el.fin == null){
                suscripcion = 'SIN SUSCRIPCION';
              }else if(el.fin < this.getTimeStamp() ){
                suscripcion = 'SUSCRITO';
              }else{
                suscripcion = 'SUSCRIPCION VENCIDA'
              }
              el.suscripcion = suscripcion;
            })
            this.desserts = res.data;
          } else {
            alertify.error("Ocurrio un error al listar alumnos");
          }
        });
    },
     getTimeStamp() {
      var now = new Date();
      return (now.getFullYear()) + '-' + ((((now.getMonth() + 1)<10)? ("0"+(now.getMonth() + 1)) : (now.getMonth() + 1))) + '-' + (now.getDate()<10? ("0"+now.getDate()):now.getDate()) + " " + now.getHours() + ':'
                + ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())) + ':' + ((now.getSeconds() < 10) ? ("0" + now
                .getSeconds()) : (now.getSeconds()));
}
  }
};
</script>

<style>
</style>
