<template lang="pug">
  v-form(ref="form")
    h1 Registrar Curso
    v-container(grid-list-lg)
      v-layout(row wrap)     
        v-flex(xs12)
          input(type="file" accept="image/jpg" @change="onFileChange")#image-profile.inputfile
          label(for="image-profile") Elige una imagen   
        v-flex(xs12 md6)
          v-select(label="Docente", :items="docentes", item-text="docente", item-value="id_docente", box required, v-model="docente")
        v-flex(xs12 md6)
          v-text-field(type="text" v-model="nombre" label="Curso" box required)
        v-flex(xs12 md12)
          v-text-field(type="text" v-model="eslogan" label="Slogan" box required)
        v-flex(xs12 md12)
          v-textarea(label="Descripción", v-model="descripcion", box)
        v-flex(xs12 md4)
          v-text-field(type="text" v-model="duracion" label="Duración" box required)
        v-flex(xs12 md4)
          v-text-field(type="number" v-model="cclases" label="Cantidad de clases" box required)
        template(v-if="cclases>0")
          v-flex(xs12 md12)
            h2.text-left Clases
            template(v-for="n in parseInt(cclases)")
              v-layout(row wrap) 
                v-flex(xs12 md5)
                  v-text-field(type="text"  label="Video" box required v-model="videos[n-1]") 
                v-flex(xs12 md5)
                  v-text-field(type="text"  label="Nombre" box required v-model="clases[n-1]")
                v-flex(xs12 md2)
                  v-text-field(type="text"  label="Duración" box required v-model="duraciones[n-1]")
        v-flex(xs12)
          v-btn(@click="submit" color="success") Guardar
        v-flex(xs12)    
          h1.my-5 Lista de Cursos
          v-data-table.elevation-1(:headers="headers", :items="desserts")
            template(slot="items", slot-scope="props")
              td.text-left {{props.item.titulo}}
              td.text-left {{ props.item.duracion }}
              td.text-left {{ props.item.docente }}
              td.text-left {{ props.item.especialidad }}
</template>

<script>
export default {
  data() {
    return {
      image: null,
      docentes: [],
      docente: "",
      nombre: "",
      eslogan: "",
      descripcion: "",
      duracion: "",
      cclases: 0,
      videos:[],      
      clases:[],
      duraciones:[],
      headers: [
        {
          text: "Curso",
          align: "left",
          sortable: false,
          value: "titulo"
        },
        { text: "Duracion", value: "duracion" },
        { text: "Docente", value: "docente" },
        { text: "Especialidad", value: "especialidad" }
      ],
      desserts: []
    };
  },
  mounted() {
    this.listarDocentes();
    this.listarCursos();
  },
  methods: {
    listarCursos(){
      fetch('http://localhost:3000/api/curso')
      .then(res=>res.json())
      .then(res=>this.desserts=res.data);
    },
    listarDocentes() {
      fetch("http://localhost:3000/api/docente")
        .then(res => res.json())
        .then(res => (this.docentes = res.data));
    },
    submit(){
      let cant = this.cclases ;
      if(this.videos.length==cant && this.duraciones.length==cant && this.clases.length==cant && this.image!=null && this.docente!='' && this.nombre!='' && this.eslogan!='' && this.descripcion!='' && this.duracion!=''){
        let classs = [];
        for(let i=0; i<cant; i++){
          classs.push({
            video: this.videos[i],
            clase: this.clases[i],
            duracion: this.duraciones[i]
          })
        }
        let form = new FormData();
        form.append('iddocente',this.docente);
        form.append('titulo',this.nombre);
        form.append('slogan',this.eslogan);
        form.append('descripcion',this.descripcion);
        form.append('duracion',this.duracion);
        form.append('clases',JSON.stringify(classs));
        form.append('photo',this.image);
        fetch('http://localhost:3000/api/curso',{
          method:'post',
          body:form
        })
        .then(res=>res.json())
        .then(res=>{
          if(res.success){
            alertify.success('Curso agregado');
            this.cclases = 0;
            this.docente = null;
            this.image = null;
            this.nombre = '';
            this.eslogan = '';
            this.descripcion = '';
            this.duracion = '';
            this.clases = [];
            this.videos = [];
            this.duraciones = [];
          }else{
            alertify.error('Ocurrio un error');
          }
        })
      }else{
        alertify.error('Por favor completa todos los datos');
      }
    },
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.image = files[0];
    }
  }
};
</script>

<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #333;
  background-color: #f1f1f1;
  padding: 8px 16px;
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #f9f9f9;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
</style>
