<template lang="pug">
  v-app#inspire
    v-navigation-drawer(v-model='drawer', fixed='', app='')
      v-list(dense='')
        router-link.my-5.text-center.c-pointer(to="/" tag="h3")
          | Starky
          span.red--text Tech
        v-list-tile(@click='')
          v-list-tile-action
            v-icon home
          v-list-tile-content
            router-link(to='/dashboard/especialidades' tag='v-list-tile-title') Especialidades
        v-list-tile(@click='')
          v-list-tile-action
            v-icon contact_mail
          v-list-tile-content
            router-link(to='/dashboard/docentes' tag='v-list-tile-title') Docentes
        v-list-tile(@click='')
          v-list-tile-action
            v-icon contact_mail
          v-list-tile-content
            router-link(to='/dashboard/cursos' tag='v-list-tile-title') Cursos
        v-list-tile(@click='')
          v-list-tile-action
            v-icon contact_mail
          v-list-tile-content
            router-link(to='/dashboard/alumnos' tag='v-list-tile-title') Alumnos
    v-toolbar(color='indigo', dark='', fixed='', app='')
      v-toolbar-side-icon(@click.stop='drawer = !drawer')
      v-toolbar-title StarkyTeach - Administración
    v-content
      v-container(fluid='', fill-height='')
        v-layout(justify-center='', align-center='')
          v-flex(text-xs-center='')
            router-view
            
</template>

<script>
export default {
    data: () => ({
      drawer: null
    }),
    props: {
      source: String
    }
  }
</script>

<style>
</style>
