<template lang="pug">
  v-form(ref="form")
    h1 Registrar Docente
    v-container(grid-list-lg)
      v-layout(row wrap)
        v-flex(xs12)
          input(type="file" accept="image/jpg" @change="onFileChange")#image-profile.inputfile
          label(for="image-profile") Elige una imagen       
        v-flex(xs12 md6)
          v-text-field(type="text" v-model="nombres" label="Nombres" box required)
        v-flex(xs12 md6)
          v-text-field(type="text" v-model="apellidos" label="Apellidos" box required)
        v-flex(xs12 md4)
          v-text-field(type="text" v-model="correo" label="Correo electronico" box required)
        v-flex(xs12 md4)
          v-text-field(type="text" v-model="phone" label="Teléfono" box required)
        v-flex(xs12 md4)
          v-select(label="Especialidad", :items="especialidades", item-text="especialidad", item-value="especialidad", box required, v-model="especialidad")
        v-flex(xs12 md6)
          v-text-field(type="password" v-model="password" label="Contraseña" box required)
        v-flex(xs12 md6)
          v-text-field(type="password" v-model="cpassword" label="Confirmar contraseña" box required)
        v-flex(xs12)
          v-btn(@click="submit" color="success") Guardar
        v-flex(xs12)    
          h1.my-5 Lista de docentes
          v-data-table.elevation-1(:headers="headers", :items="desserts")
            template(slot="items", slot-scope="props")
              td.text-left {{props.item.docente}}
              td.text-left {{ props.item.email }}
              td.text-left {{ props.item.telefono }}
              td.text-left {{ props.item.especialidad }}
</template>

<script>
export default {
  data(){
    return{
      especialidades:[],
      nombres:'',
      apellidos:'',
      correo:'',
      phone:'',
      password:'',
      cpassword:'',
      especialidad:null,
      image:null,
       headers: [
        {
          text: "Docente",
          align: "left",
          sortable: false,
          value: "docente"
        },
        { text: "Correo", value: "email" },
        { text: "Telefono", value: "telefono" },
        { text: "Especialidad", value: "especialidad" },
      ],
      desserts: []
    }
  },
  mounted(){
    this.listarEspecialidades();
    this.listarDocentes();
  },
  methods:{
    listarDocentes(){
      fetch('http://localhost:3000/api/docente')
      .then(res=>res.json())
      .then(res=>this.desserts=res.data)
    },
    listarEspecialidades(){
        let items = localStorage.getItem("especialidades")
      ? JSON.parse(localStorage.getItem("especialidades"))
      : [];
      let esp = []
      items.map(el=>{
        esp.push({
          especialidad:el
        })
      })
      this.especialidades = esp;
    },
    submit(){
      if(this.especialidad!='' && this.nombres!='' && this.apellidos!='' && this.correo!='' && this.phone!= '' && this.password!='' && this.cpassword!=''){
        if(this.password==this.cpassword){
          let form = new FormData();
          form.append('nombres',this.nombres);
          form.append('apellidos',this.apellidos);
          form.append('email',this.correo);
          form.append('telefono',this.phone);
          form.append('especialidad',this.especialidad);
          form.append('password',this.password);
          form.append('photo',this.image);
          fetch('http://localhost:3000/api/docente',{
            method:'post',
            body:form
          })
          .then(res=>res.json())
          .then(res=>{
            if(res.success){
              alertify.success('Docente registrado');
              this.nombres='';
              this.apellidos='';
              this.correo='';
              this.phone='';
              this.especialidad=null;
              this.password='';
              this.cpassword='';
              this.image=null;
              this.listarDocentes();
            }else{
              alertify.error(res.message);
            }
          })
        }else{
          alertify.error('Las contraseñas no coinciden')
        }
      }else{
        alertify.error('Completa los datos');
      }
    },
    onFileChange(e){
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.image = files[0];
    }
  }
};
</script>

<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #333;
  background-color: #f1f1f1;
  padding: 8px 16px;
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #f9f9f9;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
</style>
