<template lang="pug">
  v-form(ref="form")
    h1 Registrar Especialidad
    v-container(grid-list-lg)
      v-layout(row wrap)              
        v-flex(xs12 md12)
          v-text-field(type="text" v-model="especialidad" label="Especialidad" box required)       
        v-flex(xs12)
          v-btn(@click="submit" color="success") Guardar
        v-flex(xs12)    
          h1.my-5 Lista de especialidades
          v-data-table.elevation-1(:headers="headers", :items="desserts")
            template(slot="items", slot-scope="props")
              td.text-left {{props.item.especialidad}}

</template>

<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Especialidad",
          align: "left",
          sortable: false,
          value: "especialidad"
        }
      ],
      desserts: [],
      especialidad:''
    };
  },
  mounted() {
    this.listarEspecialidades();
  },
  methods: {
    listarEspecialidades(){
      let items = localStorage.getItem("especialidades")
      ? JSON.parse(localStorage.getItem("especialidades"))
      : [];
      let esp = []
      items.map(el=>{
        esp.push({
          especialidad:el
        })
      })
      this.desserts = esp;
    },
    submit() {
      let items = localStorage.getItem("especialidades")
        ? JSON.parse(localStorage.getItem("especialidades"))
        : [];
        if(this.especialidad!=''){
          let i = items.indexOf(this.especialidad);
          if(i==-1){
            items.push(this.especialidad);
            localStorage.setItem('especialidades',JSON.stringify(items));
            this.listarEspecialidades();
            alertify.success('Especialidad registrada');
          }else{
            alertify.error('La especialidad ya se encuentra registrada');
          }
        }else{
          alertify.error('Por favor escriba una especialidad');
        }
    }
  }
};
</script>

<style>
</style>
