<template lang="pug">
  #app
    router-view
</template>

<script>
export default {
  name: 'app',
}
</script>

<style lang="scss">
.course_info.home{
  height: auto;
  margin-top: 0;
  background: #fff;
  border-bottom: 0;
}
.vh-80{
  height: 80vh;
}
.course{
  padding-top: 0;
  padding-bottom: 0;
}
.c-pointer{
  cursor: pointer;
}
</style>
