<template lang="pug">
  .about
    .container
      .row
        .col
          .section_title_container.text-center
            h2.section_title Bienvenido a StartyTech
            .section_subtitle
              p
                | Tu futuro te está esperando.
      .row.about_row
        // About Item
        .col-lg-4.about_col.about_col_left
          .about_item
            .about_item_image
              img(src='images/about_1.jpg', alt='')
            .about_item_title
              a(href='#') Acerca
            .about_item_text
              p
                | StarkyTech es la opción honesta y sin falsas promesas para aprender diversos cursos en Latinoamerica y España.
        // About Item
        .col-lg-4.about_col.about_col_middle
          .about_item
            .about_item_image
              img(src='images/about_2.jpg', alt='')
            .about_item_title
              a(href='#') Misión
            .about_item_text
              p
                | Mejorar el desempeño intelectual academico del educando, ayudándolo en su formación y encontrar mejores oportunidades.
        // About Item
        .col-lg-4.about_col.about_col_right
          .about_item
            .about_item_image
              img(src='images/about_3.jpg', alt='')
            .about_item_title
              a(href='#') Visión
            .about_item_text
              p
                | Convertirnos en la primera opción académica online.
</template>

<script>
export default {

}
</script>

<style>

</style>
