<template lang="pug">
  .feature
    .feature_background(style='background-image:url(images/courses_background.jpg)')
    .container
      .row
        .col
          .section_title_container.text-center
            h2.section_title ¿Por qué elegirnos?
            .section_subtitle
              p
                | Somo la mejor plataforma de habla hispana en aprendizaje online, nuestros docentes y nuestro alumnos nos respaldan.
      .row.feature_row
        // Feature Content
        .col-lg-6.feature_col
          .feature_content
            // Accordions
            .accordions
              .elements_accordions
                .accordion_container
                  .accordion.d-flex.flex-row.align-items-center
                    div Crea tu ruta de aprendizaje.       
                .accordion_container
                  .accordion.d-flex.flex-row.align-items-center
                    div Proyectos, desafíos y clases en vivo.   
                .accordion_container
                  .accordion.d-flex.flex-row.align-items-center
                    div Un mejor empleo o tu propia empresa.                
                .accordion_container
                  .accordion.d-flex.flex-row.align-items-center
                    div Estudia en tu laptop o teléfono.
            // Accordions End
        // Feature Video
        .col-lg-6.feature_col
          .feature_video.d-flex.flex-column.align-items-center.justify-content-center
            .feature_video_background(style='background-image:url(images/video.jpg)')
             
</template>

<script>
export default {

}
</script>

<style>

</style>
