<template lang="pug">
  .contact
    .contact_info_container
      .container
        .row
          // Contact Form
          .col-lg-6
            .contact_form
              .contact_info_title Formulario de Contacto
              form.comment_form(@submit.prevent="sendMessage")
                div
                  .form_title Nombre
                  input.comment_input(type='text', required='required' v-model="nombre")
                div
                  .form_title Correo
                  input.comment_input(type='email', required='required' v-model="correo")
                div
                  .form_title Mensaje
                  textarea.comment_input.comment_textarea(required='required' v-model="mensaje")
                div
                  button.comment_button.trans_200(type='submit') Enviar Ahora
          // Contact Info
          .col-lg-6
            .contact_info
              .contact_info_title Información de Contacto
              .contact_info_text
                p
                  |¿Tienes alguna duda?, Por favor no dudes en contactarnos, siempre estaremos para servirte. Recuerda que tú eres nuestra prioridad y el miembro más importante de nuestro equipo.
              .contact_info_location
                .contact_info_location_title Oficina Chiclayo
                ul.location_list
                  li Juan XXIII S/N
                  li +51 947 574 508
                  li info.starkytech@gmail.com
              
</template>

<script>
export default {
  data() {
    return {
      nombre: "",
      correo: "",
      mensaje: ""
    };
  },
  methods:{
    sendMessage(){
      if(this.nombre!='' && this.correo!='' && this.mensaje!=''){
        let form = new FormData();
        form.append('nombres',this.nombre);
        form.append('correo',this.correo);
        form.append('mensaje',this.mensaje);
        fetch('http://localhost:3000/api/mensaje',{
          method:'post',
          body: form
        })
        .then(res=>res.json())
        .then(res=>{
          if(res.success){
            this.nombre='';
            this.correo='';
            this.mensaje='';
            alertify.success('Mensaje enviado correctamente.')
          }else{
            alertify.error('Ocurrió un error al enviar.')
          }
        })
      }else{
        alertify.error('Complete todos los campos');
      }
    }
  }
};
</script>

<style>
</style>
