<template lang="pug">
  .counter
    .counter_background(style='background-image:url(images/counter_background.jpg)')
    .container
      .row
        .col-lg-6
          .counter_content
            h2.counter_title Registrate Ahora
            .counter_text
              p
                | Nuestra metodología tiene tres pilares: profesores reales, temarios detallados y proyecto de fin de curso. Varias plataformas han copiado con éxito nuestro método, lo que te garantiza que conocemos mejor cómo guiar tu formación profesional.
            // Milestones
            .milestones.d-flex.flex-md-row.flex-column.align-items-center.justify-content-between
              // Milestone
              .milestone
                .milestone_counter(data-end-value='15') 15
                .milestone_text Cursos
              // Milestone
              .milestone
                .milestone_counter(data-end-value='120', data-sign-after='k') 5
                .milestone_text Especialidades
              // Milestone
              .milestone
                .milestone_counter(data-end-value='670', data-sign-after='+') 670
                .milestone_text Estudiantes
              // Milestone
              .milestone
                .milestone_counter(data-end-value='10') 10
                .milestone_text Profesores
      
</template>

<script>
export default {

}
</script>

<style>

</style>
