<template lang="pug">
  .courses
    .section_background.parallax-window(data-parallax='scroll', data-image-src='images/courses_background.jpg', data-speed='0.8')
    .container
      .row
        .col
          .section_title_container.text-center
            h2.section_title Cursos Populares
            .section_subtitle
              p
                | Invierte en tu formación y encuentra tu próximo trabajo o crea tu propio negocio.
      .row.courses_row
        // Course
        .col-lg-4.course_col(v-for="curso in cursos")
          .course
            .course_image
              img(:src='curso.imagen', alt='')
            .course_body
              h3.course_title
                router-link(:to="{path: '/courses/' + curso.id_curso}") {{curso.titulo}}
              .course_teacher {{curso.docente}}
              .course_text
                p {{curso.descripcion}}
               
      .row
        .col
          .courses_button.trans_200
            router-link(to="/courses") Ver todos los cursos
</template>

<script>
export default {
  data(){
    return{
      cursos:[]
    }
  },
  mounted(){    
    fetch('http://localhost:3000/api/curso')
    .then(res=>res.json())
    .then(res=>{
      this.cursos = res.data;
      this.cursos.map(el=>{
        el.imagen = `http://localhost:3000/cursos/${el.id_curso}.jpg`;
      })
      if(this.cursos.length>3){
        this.cursos = this.cursos.slice(0,3);
      }
    })
  }
}
</script>