<template lang="pug">
  .courses
    .container
      .row
        // Courses Main Content
        .col-lg-8          
          .courses_container
            .row.courses_row
              // Course
              .col-lg-6.course_col(v-for="curso in cursos")
                .course
                  .course_image
                    img(:src='curso.imagen', alt='')
                  .course_body
                    h3.course_title
                      router-link(:to="{path: '/courses/' + curso.id_curso}") {{curso.titulo}}
                    .course_teacher {{curso.docente}}
                    .course_text
                      p {{curso.descripcion}}
                  .course_footer
                    .course_footer_content.d-flex.flex-row.align-items-center.justify-content-start
                      .course_info.home
                        i.fa.fa-star(aria-hidden='true')
                        span 5 Ratings
                      
        // Courses Sidebar
        .col-lg-4
          .sidebar            
            // Latest Course
            .sidebar_section
              .sidebar_section_title Nuevos Cursos
              .sidebar_latest
                // Latest Course
                .latest.d-flex.flex-row.align-items-start.justify-content-start(v-for="curso in lastCursos")
                  .latest_image
                    div
                      img(:src='curso.imagen', alt='')
                  .latest_content
                    .latest_title
                      router-link(:to="{path: '/courses/' + curso.id_curso}") {{curso.titulo}}
                            
            // Gallery
            .sidebar_section
              .sidebar_section_title Instagram
              .sidebar_gallery
                ul.gallery_items.d-flex.flex-row.align-items-start.justify-content-between.flex-wrap
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_1_large.jpg')
                      img(src='images/gallery_1.jpg', alt='')
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_2_large.jpg')
                      img(src='images/gallery_2.jpg', alt='')
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_3_large.jpg')
                      img(src='images/gallery_3.jpg', alt='')
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_4_large.jpg')
                      img(src='images/gallery_4.jpg', alt='')
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_5_large.jpg')
                      img(src='images/gallery_5.jpg', alt='')
                  li.gallery_item
                    .gallery_item_overlay.d-flex.flex-column.align-items-center.justify-content-center +
                    a.colorbox(href='images/gallery_6_large.jpg')
                      img(src='images/gallery_6.jpg', alt='')
</template>

<script>
export default {
  data() {
    return {
      cursos: [],
      lastCursos: []
    };
  },
  mounted() {
    fetch("http://localhost:3000/api/curso")
      .then(res => res.json())
      .then(res => {
        this.cursos = res.data;
        this.cursos.map(el => {
          el.imagen = `http://localhost:3000/cursos/${el.id_curso}.jpg`;
        });
        if(this.cursos.length<4){
          this.lastCursos = this.cursos;
        }else{
          this.lastCursos = this.cursos.slice(this.cursos.length-3,this.cursos.length)
        }
      });
  }
};
</script>

<style>
</style>
