<template lang="pug">
  .features
    .container
      .row
        .col
          .section_title_container.text-center
            h2.section_title Bienvenido a StarkyTech, tu futuro te está esperando
            .section_subtitle
              p
                | StarkyTech es la opción honesta y sin falsas promesas para aprender diversos cursos en Latinoamerica y España.
      .row.features_row
        // Features Item
        .col-lg-3.feature_col
          .feature.text-center.trans_400
            .feature_icon
              img(src='images/icon_1.png', alt='')
            h3.feature_title Profesores Expertos
            .feature_text
              p Todos nuestros profesores tienen experiencia real en aulas. Porque no basta saber un tema, sino saber enseñarlo.
        // Features Item
        .col-lg-3.feature_col
          .feature.text-center.trans_400
            .feature_icon
              img(src='images/icon_2.png', alt='')
            h3.feature_title Biblioteca
            .feature_text
              p Contamos con una gran de cantidad de liros online, de editoriales reconocidas, lo cuál será de gran apoyo para tu crecimiento educativo.
        // Features Item
        .col-lg-3.feature_col
          .feature.text-center.trans_400
            .feature_icon
              img(src='images/icon_3.png', alt='')
            h3.feature_title Especialidades
            .feature_text
              p Las especialidades son rutas de aprendizaje detalladas que te llevan a traves de cursos cortos a tu objetivo.
        // Features Item
        .col-lg-3.feature_col
          .feature.text-center.trans_400
            .feature_icon
              img(src='images/icon_4.png', alt='')
            h3.feature_title Premios y recompensas.
            .feature_text
              p Somos la primera plataforma en premiar a sus alumnos para completar los cursos, y así mejorar la curva de aprendizaje.
</template>

<script>
export default {

}
</script>
