<template lang="pug">
  footer.footer
    .footer_background(style='background-image:url(images/footer_background.png)')
    .container
      .row.footer_row
        .col
          .footer_content
            .row
              .col-lg-3.footer_col
                // Footer About
                .footer_section.footer_about
                  .footer_logo_container
                    a(href='#')
                      .footer_logo_text
                        | Starky
                        span Tech
                  .footer_about_text
                    p Tu futuro te está esperando.
                  .footer_social
                    ul
                      li
                        a(href='https://www.facebook.com/starkytech/')
                          i.fa.fa-facebook(aria-hidden='true')
                      li
                        a(href='https://www.youtube.com/channel/UCAYcGqmkqM4zrTUmbLo4wKg')
                          i.fa.fa-youtube(aria-hidden='true')
                      li
                        a(href='https://twitter.com/StarkyTeach?lang=es')
                          i.fa.fa-twitter(aria-hidden='true')
              .col-lg-3.footer_col
                // Footer Contact
                .footer_section.footer_contact
                  .footer_title Contactanos
                  .footer_contact_info
                    ul
                      li Email: info.starkyteach@gmail.com
                      li Telefono:  +(88) 111 555 666
              .col-lg-3.footer_col
                // Footer links
                .footer_section.footer_links
                  .footer_title Menu
                  .footer_links_container
                    ul
                      li
                        router-link(to="/") Inicio
                      li
                        router-link(to="/about") Acerca De
                      li
                        router-link(to="/contact") Contacto
                      li
                        router-link(to="/courses") Cursos
              .col-lg-3.footer_col.clearfix
                // Footer links
                .footer_section.footer_mobile
                  .footer_title Aplicaciones
                  .footer_mobile_content
                    .footer_image
                      a(href='#')
                        img(src='images/mobile_1.png', alt='')
                    .footer_image
                      a(href='#')
                        img(src='images/mobile_2.png', alt='')
     
</template>

<script>
export default {

}
</script>

<style>

</style>
