<template lang="pug">
  div
    TopBar
    HeaderContainer
    Search

</template>

<script>
import TopBar  from './TopBar'
import Search from './Search'
import HeaderContainer from './HeaderContainer'
export default {
  components:{TopBar,HeaderContainer,Search}
}
</script>