<template lang="pug">
  .header_container
    .container
      .row
        .col
          .header_content.d-flex.flex-row.align-items-center.justify-content-start
            .logo_container
              a(href='#')
                .logo_text
                  | Starky
                  span Tech
            nav.main_nav_contaner.ml-auto
              ul.main_nav(style="margin-left:35em")
                li
                  router-link(to="/") Inicio
                li
                  router-link(to="/about") Acerca de
                li
                  router-link(to="/courses") Cursos
                li
                  router-link(to="/contact") Contacto

</template>

<script>
export default {

}
</script>
