<template lang="pug">
  .header_search_container
    .container
      .row
        .col
          .header_search_content.d-flex.flex-row.align-items-center.justify-content-end
            form.header_search_form(action='#')
              input.search_input(type='search', placeholder='Search', required='required')
              button.header_search_button.d-flex.flex-column.align-items-center.justify-content-center
                i.fa.fa-search(aria-hidden='true')
</template>

<script>
export default {

}
</script>
