<template lang="pug">
  .team
    .team_background.parallax-window(data-parallax='scroll', data-image-src='images/team_background.jpg', data-speed='0.8')
    .container
      .row
        .col
          .section_title_container.text-center
            h2.section_title Los Mejores Profesores
            .section_subtitle
              p
                | Contamos con los mejores proferes, que te acompañaran en todo el proceso de tu aprendizar, podrás disponer de ellos y realizar las consultas que desees.
      .row.team_row
        // Team Item
        .col-lg-3.col-md-6.team_col(v-for="docente in docentes")
          .team_item
            .team_image
              img(:src='docente.imagen', alt='')
            .team_body
              .team_title
                a(href='#') {{docente.docente}}
              .team_subtitle {{docente.especialidad}}
              .social_list
                ul
                  li
                    a(href='https://www.facebook.com/starkytech/')
                      i.fa.fa-facebook(aria-hidden='true')
                  li
                    a(href='https://twitter.com/StarkyTeach?lang=es')
                      i.fa.fa-twitter(aria-hidden='true')

       
</template>

<script>
export default {
  data(){
    return{
      docentes:[]
    }
  },
  mounted(){
    fetch('http://localhost:3000/api/docente')
    .then(res=>res.json())
    .then(res=>{
      this.docentes=res.data;
      this.docentes.map(el=>{
        el.imagen = `http://localhost:3000/docentes/${el.id_docente}.jpg`;
      })
      if(this.docentes.length>4){
        this.docentes = this.docentes.slice(0,4);
      }
    });
  }
}
</script>

<style>

</style>
