<template lang="pug">
  .top_bar
    .top_bar_container
      .container(style="padding:0")
        .row
          .col
            .top_bar_content.d-flex.flex-row.align-items-center.justify-content-start
              ul.top_bar_contact_list
                li
                  .question Alguna pregunta?
                li
                  i.fa.fa-phone(aria-hidden='true')
                  div +51 947 574 508
                li
                  i.fa.fa-envelope-o(aria-hidden='true')
                  div info.starkytech@gmail.com
              template(v-if="user")
                .dropdown(style="margin-left:35em")
                  button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                    | {{user.nombres}} {{user.apellidos}}
                  .dropdown-menu
                    a.dropdown-item.c-pointer(@click="Logout()") Cerrar Sesión
                    router-link.dropdown-item(to='/dashboard' v-if="user.type==2") Administrar

              template(v-else)
                .top_bar_login.ml-auto
                  .login_button(style="margin-left:35em")
                    router-link(to="/signin") Registrar o Ingresar
</template>

<script>
export default {
  data(){
    return{
      user:null
    }
  },
  mounted(){
    this.user = localStorage.getItem('user-starkytech')? JSON.parse(localStorage.getItem('user-starkytech')) : null;
  },
  methods:{
    Logout(){
      localStorage.removeItem('user-starkytech');
      if(this.$route.path=='/'){
        window.location.reload();
      }else{
        this.$router.replace('/');
      }
    }
  }
}
</script>